table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
}

table {
	width: 85%;
	margin: 50px;
}

th {
	background-color: #FFE4E1;
}

h2 {
	text-align: center;
}

td {
	background-color: #FFF0F5;
}